<div class="carousel">
    <a class="carousel-item" href="#one!"><img src="../images/apple-muffin.jpg"></a>
    <a class="carousel-item" href="#two!"><img src="../images/black-white-cake.jpg"></a>
    <a class="carousel-item" href="#three!"><img src="../images/mm-cookie.jpg"></a>
    <a class="carousel-item" href="#four!"><img src="../images/strawberry-shortcake.jpg"></a>
    <a class="carousel-item" href="#five!"><img src="../images/white-nut-cookie.jpg"></a>
</div>
<div class="row">
    <div class="input-field col s10 offset-s1"> 
        <p class="center-align"> Confetti Betty is a bakery business that has sold sweets since 1980! 
        We love the smiles on our clients faces as they bite into our food made with love!</p>
    </div>
</div>
<br/>
<br/>
<br/>
<br/>

<div class="row">
    <div class="input-field col s9 offset-s1"> 
        <p> Want a copy of our menu? Send us your name and email! </p>
        <form action="/" method="POST">
                <input name="name" placeholder="Name: "/>
                <input name="email" placeholder="Email: "/>
                <button class="waves-effect waves-light btn"><i class="material-icons left">free_breakfast</i>Submit</button>
        </form>
    </div>
</div>
