<html>
<head>
	<title>Confetti Betty</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel = "stylesheet" type = "text/css" href ="../css/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    
</head>
<body>
    <nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo center">Confetti Betty</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/cookies">Cookies</a></li>
            <li><a href="/cakes">Cakes</a></li>
            <li><a href="/muffins">Muffins</a></li>
        </ul>
        
    </div>
    </nav>
    <header>
    </header>
    <ul class="sidenav" id="mobile-demo">
        <li><a href="/cookies">Cookies</a></li>
        <li><a href="/cakes">Cakes</a></li>
        <li><a href="/muffins">Muffins</a></li>
    </ul>
    <%= yield %>
<script type="text/javascript" src="../js/main.js"></script>
<footer>
</footer>
</body>
</html>