<% content_for :reload do %>
    <meta http-equiv="refresh" content="5; URL='/'"/>
<% end %>

<div class="container">
    <div class="row">
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        <div class="input-field col s8 offset-s2 center"> 
        <img src = "../images/muffin.gif">
        <p> Thank you! Your email will arrive shortly. </p>
        </div>
    </div>
</div>